.navbar-container {
	background-color: #050505;
}
.btnStyle{
	margin-left: 10px;
	cursor: pointer;
	border-radius: 0;
	background-color: #050505;
	border: 1px solid #FFFFFF;
	padding: 6px 24px 6px 12px;
	color: #FFFFFF;
	background-size: 6px 6px, 6px 6px, 1px 1.5em;
}