.imageHeader{
    padding: 80px 0 80px 0;
    background-size: cover;
    color: #fff;
}
.p{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-18)/var(--unnamed-line-spacing-27) var(--unnamed-font-family-red-hat-text);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(---151515-black-900);
    text-align: left;
    font: normal normal normal 18px/27px Red Hat Text;
    letter-spacing: 0px;
    color: #151515;
    opacity: 1;
}
.headerText{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-40)/var(--unnamed-line-spacing-58) var(--unnamed-font-family-red-hat-display);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(---151515-black-900);
    text-align: left;
    font: normal normal normal 40px/58px Red Hat Display;
    letter-spacing: 0px;
    color: #151515;
    opacity: 1;
    padding-left: 50px;
    font-weight: 500;
}
.descriptionHeader{
    padding: 80px 0px 50px;
}
.screenshotHeader{
    padding: 80px 0px 50px;
    border: 5px solid red;
    height: 400px;
}
.textHeader{
    padding: 50px 0px 20px 0px;

}
.btnClass{
    margin: 20px 0 80px 0;
    background-color: #E00;
    border-color: #E00;
    color: #FFF;
    border-radius: 3px;
}

@media only screen and (max-width: 600px) {
    .centerText{
        text-align: center;
    }
    .btnClass{
        margin: 20px 0 80px 0;
        background-color: #E00;
        border-color: #E00;
        color: #FFF;
    }
}

@media (min-width: 1200px) {
    .descriptionHeader{
        padding: 80px 120px 50px;
    }

    .screenshotHeader{
        width: 450px;
    }

    /*.headerText{
        font-size: 40px;
        font-weight: 500;
        padding-left: 50px;
    }*/

    .textHeader{
        padding: 40px 120px 0px;
    }

    .formStyle{
        padding: 20px 120px 0px;
    }
}
.btnClass:hover{
    background-color: #D40000;
    color: #FFF;
}

.grayBG{
    background-color: #D2D2D2;
}