.nav-tabs{
    padding-left: 20px;
    padding-right: 20px;
}
.nav-tabs>li{
    padding-left: 20px;
    padding-right: 20px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover { border:0; }
.nav-tabs>li.active>a { color: black; }
.nav-tabs>li>a
{
    color: gray;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0px;
    color: #6A6E73;
    opacity: 1;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover { color: black; border-bottom: 3px solid red; }


.flex-wrapper { display: flex; flex-flow: row nowrap; }
.single-chart { width: 100%; justify-content: space-around; }


/* Circular Chart */
.circular-chart {
    display: block;
    margin: 10px  auto;
    max-width: 80%;
    max-height: 250px;
}
.circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 3.8;
}
.circle {
    padding-bottom: 15px;
    fill: none;
    stroke-width: 4;
    animation: animate-circle 1s ease-out forwards;
}
@keyframes animate-circle { 0% { stroke-dasharray: 0 100; } }
.circular-chart.orange .circle { stroke: #e10000; }


/* Horizontal Chart */
.progress-chart.red .bar {
	stroke: #e10000;
}
.progress-chart .bar {
	stroke: #000;
  padding-bottom: 15px;
  stroke-width: 8;
  fill:none;
stroke-miterlimit:1;
  animation: animate-bar 1s ease-out forwards;
}
.progress-chart {
    display: block;
    margin: 10px auto 10px 0;
    max-width: 100%;
    max-height: 250px;
    width: 90%;
}
@keyframes animate-bar { 
	to {stroke-dashoffset: 0;} 
}



.maturity tr td h2{
  margin:0px;
}

.score{
  fill: #e10000;
  font-size: 0.5em;
  font-weight: 400;
  text-anchor: middle;
}
.outof{
  fill: #000;
  font-size: 0.3em;
  text-anchor: middle;
}
.separator{ border-bottom: 1px solid #ddd; }


.print-panel-container{
    background-color: #eee;
}
.print-panel{
    width: 60%;
    padding-top: 60px;
    padding-bottom: 35px;
    text-align: center;
}
.print-panel p{
    text-align: center;
}

.tab-content{
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}
.tab-content>div.col-md-*{
    padding: 0px 0px !important;
}

.row-asset-links{
	/*
    margin-bottom: -9px;
	*/
    margin-top: 0px;
    padding: 8px 0px;
}

div.tab-pane table tbody tr td.level1,
div.tab-pane table tbody tr td.level2{
	padding-left: 7px;
}


.links tr{
	border-bottom: 1px solid #eee;
}
.links tr td{
	vertical-align: top;
	padding: 9px 0px 7px 0px;
}
.links tr td:first-child,
.links tbody tr td:first-child
{
	width: 33.33333333%;
	padding-right: 10px;
}
.links tr td:nth-child(2){
	padding-left: 10px;
}
