table{width: 100%;}
table thead tr td, table tbody tr td{
  padding: 10px 15px 10px 15px; /*TRBL*/
  font-size: 11pt;
  /*
  vertical-align: top;
  */
}
table thead tr td{
  color: grey;
  font-size: 10pt;
}
table thead tr td:first-child,
table tbody tr td:first-child{
  /*padding: 10px 0px 10px 15px;*/ /*TRBL*/
  padding: 10px 10px 10px 10px; /*TRBL*/
}
body{
	/*
	background-color: #f9f9f9;
	
	/* part of making the footer sticky */
	/*
  */
	display: flex;
  flex-direction: column;
	
}
.py-0{
	margin-bottom: auto;
/*
*/
}

.btn:disabled { opacity: 0.35; }
.py-1{
	/*
	background-color: #f9f9f9;
	*/
	margin-top: 30px;
}
.elevate{
  box-shadow: 0px 5px 5px -3px rgba(0,0,0,0.2), 0px 8px 10px 1px rgba(0,0,0,0.14), 0px 3px 14px 2px rgba(0,0,0,0.12);
  background-color: #fff;
}
	
.menu_horizontal{
   display: block;
   list-style: none;
}
.menu_horizontal li {
   display: inline;
}
.menu li{
   padding: 4px;
   margin: 1px;
   color: #3f3f3f;
   padding-left: 15px;
   padding-right: 15px;
   /*
   position: relative;
   top: 0px;
   border-radius: 0px 0px 5px 5px;
   box-shadow: 0px 5px 5px -3px rgba(0,0,0,0.2), 0px 8px 10px 1px rgba(0,0,0,0.14), 0px 3px 14px 2px rgba(0,0,0,0.12);
   */
}
div.elevate li.noColor{
	background-color: transparent;
}
.menu li:hover,
.menu li.current{
	background-color: #3f3f3f;
}
.menu li > *{
	color: #3f3f3f;
}
.menu li:hover > *,
.menu li.current a{
	color: #fff;
}
.menu li.divider{
	padding-left: 0px;
	padding-right: 0px;
}


#feedback-alert{
	position: absolute;
	width: 100%;
}
#feedback-alert-text{
	text-align: center;
}



.navbar-container .navbar-logo {
    max-width: 155px;
    max-height: 37px;
}
.navbar-brand {
    margin-right: 0 !important;
    width: 100%;
}
.assessment-header .navbar-container {
    padding: 27px 0 26px;
}
.navbar-container {
    width: 100%;
    padding: 7px 0 9px;
}


/* Language Selector */
.Skin .LanguageSelectorContainer {
}
@media (min-width: 1200px)
.LanguageSelectorContainer {
    max-width: 1170px;
}
@media (min-width: 992px)
.LanguageSelectorContainer {
    max-width: 970px;
}
@media (min-width: 768px)
.LanguageSelectorContainer {
    max-width: 750px;
}
@media (min-width: 576px)
.LanguageSelectorContainer {
    max-width: 540px;
}
.LanguageSelectorContainer {
}
.LanguageSelectorContainer select {
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    cursor: pointer;
    border-radius: 0;
    background-color: #050505;
    border: 1px solid #FFFFFF;
    padding: 6px 24px 6px 12px;
    color: #FFFFFF;
    background-image: linear-gradient(45deg, transparent 50%, #FFFFFF 50%), linear-gradient(135deg, #FFFFFF 50%, transparent 50%);
    background-position: calc(100% - 16px) calc(1em + 0px), calc(100% - 10px) calc(1em + 0px), calc(100% - 2.5em) 0.5em;
    background-size: 6px 6px, 6px 6px, 1px 1.5em;
    background-repeat: no-repeat;
/*
    display: block;
    position: relative;
    top: 30px;
    margin-left: auto;
*/
}
.LanguageSelectorContainer select:hover {
    background-color: #FFFFFF;
    border-color: #FFFFFF ;
    color: #050505;
    background-image: linear-gradient(45deg, transparent 50%, #050505 50%), linear-gradient(135deg, #050505 50%, transparent 50%);
    /*
        display: block;
        position: relative;
        top: 30px;
        margin-left: auto;
    */
}

.Skin .TE textarea, .Skin input.TextEntryBox, .Skin input[type=password], .Skin input[type=search], .Skin input[type=text], .Skin select, .Skin textarea {
    border: 2px solid #d2d2d6;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    padding: 2px;
}
.Skin select {
    min-width: 3em;
}
.Skin button, .Skin input, .Skin select, .Skin textarea {
    font-family: "Helvetica Neue",Arial,sans-serif;
    font-size: 18px;
    color: #737373;
}

.sv_p_root, .sv_row, .sv_nav, #survey-wrapper{
	background-color: #f0f0f0;
}
.sv_main.sv_default_css{
    background-color: #f0f0f0;
}
.sv_page_title{
	font-size: 26pt;
  margin-bottom: 0px;
  text-align: center;
}
.sv_p_root>div:first-of-type{ /* page description */
	font-size: 12pt;
	font-weight: normal;
  margin-bottom: 20px;
  text-align: center;
}
.sv_q_title span{
	font-size: 14pt;
	font-weight: bold; /* questions in bold */
}
.sv_qstn {
/*
  border: 1px solid grey; 
*/
  /* border around questions */
  /*
  padding: 0 10 0 10; 
  margin: 10px;
  */
  
  /*TRBL*/
  
}
.sv_q_num{ /* hide the question numbers */
	display: none;
}
.sv_nav{
	text-align: center; /* center the prev/next buttons */
	padding: 30px;
}
/*.sv_rh_prev_btn, .sv_rh_next_btn, .sv_rh_preview_btn, .sv_rh_complete_btn {
    padding: 13px 23px 10px 23px;
    color: #fff !important;
    background-color: #06C !important;
    display: inline-block;
    font-family: var(--pfe-theme--font-family,RedHatText, Helvetica, Arial, sans-serif);
    border: 1px solid #06C;
    border-radius: 3px;
    font-size: 16px;
    padding: 6px 16px;
    font-weight: 400;
    text-decoration: none;
    text-transform: none;
    margin-top: 10px;
    transition: background .2s ease-in 0s;
    cursor: pointer;
}*/

/*.sv_rh_prev_btn:hover, .sv_rh_next_btn:hover, .sv_rh_preview_btn:hover, .sv_rh_complete_btn:hover {
    background-color:#0057ad !important;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    border-color: #0057ad;
}*/

/*
.sv_main, .sv_default_css, .sv_p_root, .sv_row{
	background-color: #fff !important;
}
*/
.sv_q_title{
	margin-bottom: 0;
}
.sv_q_title span{
	font-size: 11pt;
}
.sv_q_dropdown_control, .sv_q_text_root{
	width: 80%;
	line-height: 1.25em;
}


/* Altering image selects */
.sv_q_imgsel_label{
	text-align: center;
}
.sv_q_imgsel_text{
	font-size: 18pt;
	/*
	position: relative;
  top: -140px;
	*/
}
.sv_qstn .sv_q_imgsel label > div{
	padding: 1px !important;
}

/* contact form panel elements need to be side-by-side. There's no class associated so i chose a class associated with panels and moved that to a grid structure */
.sv_p_container>div:nth-of-type(3){
	display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(2,1fr);
}

/*
.sv_page_select_interests sv_qstn->div{
	background-color: initial;
}
*/




.sv_imgpicker_outer{
	width: 300px;
    height: 300px;
}
.sv_imgpicker_inner{
	width: 294px;
    height: 294px;
    background-color: white;
    margin: 1px;
}
.sv_imgpicker_inner img{
		display: block;
    margin: 0 auto;
		position: relative;
    top: 30px;
		opacity: 0.5;
    filter: alpha(opacity=40);
}
.sv_imgpicker_inner div{
		position: relative;
    top: 40px;
    white-space: normal;
}


.sv_row{
    border: 1px solid #ccc;
    margin: 30px;
}
.sv_row:last-child{
	margin: 0px 30px 0px 30px;
}


/* spacing out each question with margins and borders on a white background */
.sv_qstn>div:nth-child(1){
	padding: 10px;
    border: 1px solid #ccc;
	background-color: white !important;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
.sv_qstn>div:nth-child(2){
	padding: 10px;
  border: 1px solid #ccc;
  border-top: 0px;
  background-color: white !important;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

.loginForm{
    width: 50%;
   padding-left: 375px;
}


.navigationProgressbar div.pageVisible{
	color: #ddd;
}
/*
.navigationProgressbar li:has(+ next) {
	color: pink;
}
.navigationProgressbar li.visible{
	color:blue;
}
*/
.sv-boolean{
	display: inline-block !important;
	padding-top: 10px;
}