table{width: 100%;}
 /*TRBL*/
.admin table thead tr td,
.admin table tbody tr td{
  padding: 10px 15px 10px 15px;
  font-size: 11pt;
}
.elevate tbody tr td{
	font-size: 11pt;
}
section .elevate{
	padding: 20px 25px 20px 25px;
}
.py-1 .elevate tbody tr td{
	padding: 10px 10px 10px 10px;
}

.py-1 .elevate textarea{
	font-family: Overpass,sans-serif;
	line-height: 1.2;
}
	
.admin table thead tr td{
  color: grey;
  font-size: 10pt;
}
.admin table thead tr td:first-child,
.admin table tbody tr td:first-child{
	/*
  padding: 10px 10px 10px 10px;
	*/
}
body{
	display: flex;
  flex-direction: column;
}
body, p, li{
  font: normal normal normal 16px/24px Red Hat Text, RedHatText, Overpass,"Helvetica Neue",Arial,sans-serif;
  font-family: Red Hat Text, RedHatText, Overpass,"Helvetica Neue",Arial,sans-serif;
  text-align: left;
  letter-spacing: 0px;
  color: #151515;
  opacity: 1;
}
h1{   font: normal normal normal 36px/47px Red Hat Display,RedHatDisplay,Overpass,"Helvetica Neue",Arial,sans-serif; }
h2{   font: normal normal normal 28px/40px Red Hat Display,RedHatDisplay,Overpass,"Helvetica Neue",Arial,sans-serif; } /* results only */
h3{   font: normal normal normal 26px/30px Red Hat Display,RedHatDisplay,Overpass,"Helvetica Neue",Arial,sans-serif; } /* admin pages only */
h4{   font: normal normal normal 20px/30px Red Hat Display,RedHatDisplay,Overpass,"Helvetica Neue",Arial,sans-serif; } /* results only */
h5{   font: normal normal 500    18px/24px Red Hat Display,RedHatDisplay,Overpass,"Helvetica Neue",Arial,sans-serif; } /* surveyjs question titles */
h5{ margin: 5px 0px !important; }
.hdr{ font-family: Red Hat Display,RedHatDisplay,Overpass,"Helvetica Neue",Arial,sans-serif; }

h4{
	margin-top: 10px;
  margin-bottom: 5px;
}


.py-0{
	margin-bottom: auto;
}

.btn:disabled { opacity: 0.35; }
.py-1{
	margin-top: 30px;
}
.elevate{
  box-shadow: 0px 5px 5px -3px rgba(0,0,0,0.2), 0px 8px 10px 1px rgba(0,0,0,0.14), 0px 3px 14px 2px rgba(0,0,0,0.12);
  background-color: #fff;
}
	
.menu_horizontal{
   display: block;
   list-style: none;
}
.menu_horizontal li {
   display: inline;
}
.menu li{
   padding: 1px 15px 5px 15px;
   margin: 1px;
   color: #3f3f3f;
   font-size: 12pt;
   text-decoration: none !important;
   line-height: 1.5 !important;
   font-family: inherit !important;
   /*
   position: relative;
   top: 0px;
   border-radius: 0px 0px 5px 5px;
   box-shadow: 0px 5px 5px -3px rgba(0,0,0,0.2), 0px 8px 10px 1px rgba(0,0,0,0.14), 0px 3px 14px 2px rgba(0,0,0,0.12);
   */
}
div.elevate li.noColor{
	background-color: transparent;
}
.menu li:hover,
.menu li.current{
	background-color: #3f3f3f;
}
.menu li > *{
	color: #3f3f3f;
}
.menu li:hover > *,
.menu li.current a{
	color: #fff;
	text-decoration: none !important;
}
.menu li.divider{
	padding-left: 0px;
	padding-right: 0px;
}


#feedback-alert{
	position: absolute;
	width: 100%;
}
#feedback-alert-text{
	text-align: center;
}


/* Language Selector */
@media (min-width: 1200px)
.LanguageSelectorContainer {
    max-width: 1170px;
}
@media (min-width: 992px)
.LanguageSelectorContainer {
    max-width: 970px;
}
@media (min-width: 768px)
.LanguageSelectorContainer {
    max-width: 750px;
}
@media (min-width: 576px)
.LanguageSelectorContainer {
    max-width: 540px;
}
.LanguageSelectorContainer {
}
.LanguageSelectorContainer select {
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    cursor: pointer;
    border-radius: 0;
    background-color: #050505;
    border: 1px solid #FFFFFF;
    padding: 6px 24px 6px 12px;
    color: #FFFFFF;
    background-image: linear-gradient(45deg, transparent 50%, #FFFFFF 50%), linear-gradient(135deg, #FFFFFF 50%, transparent 50%);
    background-position: calc(100% - 16px) calc(1em + 0px), calc(100% - 10px) calc(1em + 0px), calc(100% - 2.5em) 0.5em;
    background-size: 6px 6px, 6px 6px, 1px 1.5em;
    background-repeat: no-repeat;
/*
    display: block;
    position: relative;
    top: 30px;
    margin-left: auto;
*/
}
.LanguageSelectorContainer select:hover {
    background-color: #FFFFFF;
    border-color: #FFFFFF ;
    color: #050505;
    background-image: linear-gradient(45deg, transparent 50%, #050505 50%), linear-gradient(135deg, #050505 50%, transparent 50%);
    /*
        display: block;
        position: relative;
        top: 30px;
        margin-left: auto;
    */
}


.sv_p_root, .sv_row, .sv_nav, #survey-wrapper{
	background-color: #f0f0f0;
}
.sv_main.sv_default_css{
    background-color: #f0f0f0;
}
.sv_page_title{
	font-size: 32px;
  margin-bottom: 7px;
  text-align: center;
}
.sv_p_root>div:first-of-type{ /* page description */
	font-size: 12pt;
	font-weight: normal;
  margin-bottom: 20px;
  text-align: center;
}
.sv_qstn {
/*
  border: 1px solid grey; 
*/
  /* border around questions */
  /*
  padding: 0 10 0 10; 
  margin: 10px;
  */
  
  /*TRBL*/
  
}
.sv_q_num{ /* hide the question numbers */
	display: none;
}
.sv_nav{
	text-align: center; /* center the prev/next buttons */
	padding: 30px;
}


.sv_q_title{
	margin-bottom: 0;
}
.sv_q_title span{
	/*
	font-weight: bold;
	font-size: 11pt;
	*/
}
.sv_q_dropdown_control, .sv_q_text_root{
	width: 80%;
	line-height: 1.25em;
}


/* Altering image selects */
.sv_q_imgsel_label{
	text-align: center;
}
.sv_q_imgsel_title{
	font-size: 18pt;
	margin-bottom: 15px;
}
.sv_q_imgsel_description{
	font-size: 12pt;
	line-height: 24px;
}

.sv_q_imgsel_text{
	/*
	position: relative;
  top: -140px;
	*/
}
.sv_qstn .sv_q_imgsel label > div{
	padding: 1px !important;
	border-radius: 5px !important;
}

/* contact form panel elements need to be side-by-side. There's no class associated so i chose a class associated with panels and moved that to a grid structure */
.sv_p_container>div:nth-of-type(3){
	display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(2,1fr);
}

/*
.sv_page_select_interests sv_qstn->div{
	background-color: initial;
}
*/




.sv_imgpicker_outer{
	/*
	width: 300px;
    height: 300px;
	*/
}
.sv_imgpicker_inner{
	/*
	width: 294px;
	*/
    height: 294px;
    background-color: white;
    margin: 1px;
    padding: 0 20 0 20;
    border-radius: 4px;
}
.sv_imgpicker_inner img{
		display: block;
    margin: 0 auto;
		position: relative;
    top: 30px;
		opacity: 0.5;
    filter: alpha(opacity=40);
}
.sv_imgpicker_inner div{
		position: relative;
    top: 40px;
    white-space: normal;
    padding: 0 5px;
}


.sv_row{
    border: 1px solid #ccc;
    margin: 30px;
}
.sv_row:last-child{
	margin: 0px 30px 0px 30px;
}


span.sv_q_required_text{
	color: #E00;
}

/* spacing out each question with margins and borders on a white background */
.sv_qstn>div:nth-child(1){
	padding: 10px 20px;
  border: 1px solid #ccc;
	background-color: white !important;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
.sv_qstn>div:nth-child(2){
	padding: 13px 20px;
  border: 1px solid #ccc;
  border-top: 0px;
  background-color: white !important;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

.loginForm{
  width: 50%;
  margin: 0 auto;
}


.navigationProgressbar div.pageNotVisible{
	color: #ddd;
}

.navigationProgressbar div.pageVisible{
	color: #ddd;
}
/*
.navigationProgressbar li:has(+ next) {
	color: pink;
}
.navigationProgressbar li.visible{
	color:blue;
}
*/
.sv-boolean{
	display: inline-block !important;
	padding-top: 10px;
}


/* Mat - this should be in the theme, but is used on the results page which doesnt have theme specific css yet */
.row-asset-links{
	border-bottom: 1px solid #eee;
}


/* Red Hat Buttons */
.rhbtn{
  display: inline-block;
  border: 1px solid #06C;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 400;
  padding: 2px 16px 2px 16px;
  opacity: 1;
  text-decoration: none;
  text-transform: none;
  transition: background .2s ease-in 0s;
  cursor: pointer;
  margin: 0 8px;
}

.rhbtn-primary:hover,
.rhbtn-secondary:hover {
  background-color: #0057ad !important;
  color: #fff !important;
  text-decoration: none;
  cursor: pointer;
  border-color: #0057ad;
}
.rhbtn-primary{
  background: #06C 0% 0% no-repeat padding-box !important;
  color: #FFF;
}
.rhbtn-secondary{
  background-color: Transparent !important;
  color: #0066CC !important;
}
.rhbtn-red, .rhbtn-red:visited{
  margin: 20px 0 20px 0;
  background: #EE0000 0% 0% no-repeat padding-box;
  border: 1px solid #EE0000;
  color: #FFFFFF;
}
.rhbtn-large{
  width: 230px;
  height: 56px;
  padding-top: 17px;
  padding-bottom: 17px;
}
.rhbtn-red:hover{
  background-color: #D40000;
  color: #FFF;
  border-color: #D40000;
  text-decoration: none;
}
fieldset div label {
  margin-bottom: 0.6rem !important;
}

.sv_q_radiogroup>label {
display: block;
padding-left: 25px;
text-indent: -22px;
}
.sv_q_radiogroup_label > [type=radio] {
vertical-align: middle;
position: relative;
top: -2px;
margin-right:5px;
}
.sv_q_checkbox>label{
display: block;
padding-left: 20px;
text-indent: -20px;
}
.sv_q_checkbox_label> [type=checkbox] {
vertical-align: middle;
position: relative;
top: -2px;
}
.txt{
	padding-bottom: 15px;
}
input,button{
  padding: 0 4px;
}