.navigationContainer {
    height: 100%;
    width: 100%;
    max-width: 1100px;
    max-height: 110px;
    margin: 100px auto auto auto;
    position: absolute;
}

.navigationProgressbarImage {
    display: inline-block;
    vertical-align: top;
    margin-top: 26px;
}

.navigationProgressbarImage.hidden {
    visibility: hidden;
}

.navigationProgressbarDiv {
    display: inline-block;
}

.navigationProgressbar {
    padding-left: 28px;
    padding-right: 28px;
    list-style-type: none;

}

.navigationProgressbar li {
    height: 138px;
    font-size: 14px;
    width: 100%;
    font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
}

.navigationProgressbar .pageTitle {
    font-weight: bold;
    color: black;
    position: absolute;
    padding-left: 30px;
}

.navigationProgressbar .pageDescription {
    color: black;
}
.navigationProgressbar li:before {
    width: 24px;
    height: 24px;
    content: '';
    line-height: 30px;
    border: 3px solid #c10000;
    display: block;
    margin: 0 auto 10px;
    border-radius: 50%;
    background-color: #c10000;
}
.navigationProgressbar li:after {
    height: 112px;
    width: 3px;
    content: '';
    position: absolute;
    background-color: #d4d4d4;
    bottom: 1px;
    right: 10px;
}
.navigationProgressbar li.completed:before {
    border-color: #c10000;
    background-color: #c10000;
}
.navigationProgressbar li:last-child:after {
    content: none;
}
.navigationProgressbar li.completed + li:after {
    background-color: #c10000;
}
.navigationProgressbar li.current:before {
    border-color: #c10000;
    background-color: white;
}