

/*  HIDE THE BACKGROUND QUESTION CONTAINER IN THE SELECT INTERESTS PAGE ONLY */
.sv_page_select_interests .sv_qstn>div:nth-child(1) {
		display: none;
}
.sv_page_select_interests .sv_qstn>div:nth-child(2) {
    background-color: #f0f0f0 !important;
    border: 0px;
}

.sv_page_select_interests .sv_row{
	border: 0px;
}


/* REVERSING THE COLOR SCHEME FOR THE CONTACT PAGE */
.sv_page_contact_form>.sv_row {
    background-color: #f0f0f0 !important;
    border: 0px;
}


.sv_page_contact_form .sv_qstn>div:nth-child(1) {
    padding: 0 10px 0 10px;
    border: 0px solid #ccc;
    background-color: white !important;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.sv_page_contact_form .sv_qstn>div:nth-child(2) {
    padding: 0 10px 0 10px;
    border: 0px solid #ccc;
    border-top: 0px;
    background-color: white !important;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.sv_wrapper_contact_form,
.sv_page_contact_form,
.sv_page_contact_form .sv_p_root, 
.sv_page_contact_form .sv_row,
.sv_wrapper_contact_form .sv_nav {
    background-color: white !important;
    border: 0px;
    margin: 10px 0 10px 0;
}

@media only screen and (device-width: 768px) {

}

/* Buttons */
.sv_rh_btn{
    background-color: #06C !important;
    color: #fff !important;
    display: inline-block;
    font-family: var(--pfe-theme--font-family,RedHatText,Helvetica,Arial,sans-serif);
    border: 1px solid #06C;
    border-radius: 3px;
    font-size: 16px;
    padding: 6px 16px;
    font-weight: 400;
    text-decoration: none;
    text-transform: none;
    margin-top: 10px;
    transition: background .2s ease-in 0s;
    cursor: pointer;
}
.sv_rh_btn:hover{
    background-color: #0057ad !important;
    color: #fff !important;
    text-decoration: none;
    cursor: pointer;
    border-color: #0057ad;
}

@media only screen and (max-width: 600px) {
    .sv_p_container>div:nth-of-type(3) {
        display: grid;
        grid-gap: 15px;
        grid-template-columns: repeat(1,1fr);
    }
}

@media only screen and (device-width: 768px) {
    .sv_p_container>div:nth-of-type(3) {
        display: grid;
        grid-gap: 15px;
        grid-template-columns: repeat(1,1fr);
    }
}

/* Applying even spacing for the image selection boxes (interest areas) */
.sv_q_imgsel {
    margin-bottom: 15px;
    width: 46% !important;
    opacity: 0.6;
}
.sv_q_imgsel.sv-q-col-2.checked{
    opacity: 1;
}

