
/*  HIDE THE BACKGROUND QUESTION CONTAINER IN THE SELECT INTERESTS PAGE ONLY */
.sv_page_select_interests .sv_qstn>div:nth-child(1) {
		display: none;
}
.sv_page_select_interests .sv_qstn>div:nth-child(2) {
    background-color: #f0f0f0 !important;
    border: 0px;
    overflow: hidden;
}

.sv_page_select_interests .sv_row{
	border: 0px;
}


@media only screen and (device-width: 768px) {

}
/* Applying even spacing for the image selection boxes (interest areas) */
.sv_q_imgsel {
    opacity: 0.6;
    width: 100% !important;
}
.sv_q_imgsel.checked label>div{
    box-shadow: 1px 2px #ccc;
}
.sv_q_imgsel.checked{
    opacity: 1;
}



